.contact{
    width: 100%;
	height: auto;
	position: absolute;
	top: 80px;
    right: 0;
	z-index:90;
    background: $Bluish_Purple;
	display: flex;
	margin-top: 20px;
    flex-direction: column;
    padding: 20px;

      @media(min-width:1199px){
        width: 50%;
        top: 86px;
    }

    p{
        color: $white;
        font-size: 15px;
        text-align: center;

        @media(min-width: 1199px){
            text-align: start;
            font-size: 18px;  
        }
    }

    span{
        color:$mikado_yellow;
        font-weight: bold;
    }
}