.footer{
	width: 100%;
	background-color:$Bluish_Purple;
	padding: 30px 0;
	position: absolute;

	@media(min-width:1199px){
		padding: 60px 0px 60px 0 ;
	}

	.container{
		@include flex-center-center;
		flex-direction: column;		
	}
	&__text{
		@include flex-center-center;
		flex-direction: column;
		
		h1{
		color: white;
		line-height:25px;
		font-size: 13px;
		text-align: center;
		line-height: 20px;
		font-family:  Yantramanav-Regular;

		@media(min-width:1199px){
			font-size: 15px;
			text-align: start;

		}
		}
	}


}