.header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
    background: white;
	display: flex;
	margin-top: 20px;
   
      @media(min-width:1199px){
        padding: 0 30px;
		height: auto;
		background: white;
    }


	&--show{
		padding: 15px;
		top: 0;
		background: linear-gradient(90deg, $elephant); //#92d2
	}

	&--hide{
		background: white;
	}

	@media(min-width:1199px){
		height: auto;
	}

	
	&__mobile {
		width: 100%;
		height: 100%;
		display: block;

		@media(min-width: 1200px) {
			display: none;
		}

		.container {
			width: 100%;
			@include flex-center-between;
			height: 100%;
		}

		&__logo {
			width: 100px;
		}

		&__toggle {
			width: 43px;
			height: 43px;
			@include flex-center-center;
			cursor: pointer;
			background-color:$white;
			border: 1px solid transparent;
    		border-radius: 4px;
			padding: 13px 10px;

			&__bar {
				width: 100%;
				height: 2px;
				background-color: $mikado_yellow;
				position: relative;
				transition: 0.3s;

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: -8px;
					left: 0;
					background-color: $mikado_yellow;
					transition: 0.3s;
				}

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					bottom: -8px;
					left: 0;
					background-color: $mikado_yellow;
					transition: 0.3s;
				}

			}

		}
		


	}

	&__desktop {
		width: 100%;
		height: 100%;
		display: none; 
		/*background-color: rgba(0, 0, 0, 0.45);*/

		@media(min-width: 1200px) {
			display: block;

			.container-sm{
				@include flex-center-between;
			}
			
		}

		&__logo{
			width: 180px;
		}

		&__pages{
			display: flex;
			gap: 10px;
			font-size: 14px;
			font-weight: 700;

			@media(min-width:1440px){
				gap: 40px;
			}
			

			&--active{
				color: $la_salle_green;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;


					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}
			}

			&--one{		
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;
					.header__desktop__pages--one__form{
						opacity: 1;
					}
				}
			}

			&--two{
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;
					.header__desktop__pages--two__form{
						opacity: 1;
					}
				}

			}

			&--three{
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;
					.header__desktop__pages--three__form{
						opacity: 1;
					}
				}
			}

			&--four{
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;
					.header__desktop__pages--four__form{
						opacity: 1;
					}
				}
			}

			&--five{
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;
					.header__desktop__pages--four__form{
						opacity: 1;
					}
				}

			}

			&--six{
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;
					.header__desktop__pages--six__form{
						opacity: 1;
					}
				}
			}

			&--seven{
				color:$black;

				&__form{
					@include flex-center-center;
					gap: 5px;
					padding-top: 5px;
					opacity: 0;

					&__circle{
						width: 100%;
						height: 5px;
						background-color: $mikado_yellow;
					}
				}

				&:hover{
					color:$mikado_yellow;

					.header__desktop__pages--seven__form{
						opacity: 1;
					}
				}
			}

		}


	}


}
