.offer{
    width: 100%;
	position: relative;
	height: auto;
    padding: 0 ;
    .container-sm{
        @include flex-center-center;
        flex-direction: column;
        border-radius: 20px;
    }

    &--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;

		svg{
			width: 30px;
			fill: black;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}

    &__content{
        position: relative;
        top:-150px;
        @include flex-center-center;
        flex-direction: column;
        border-radius: 20px;
        width: 100%;

        &__grid{
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            display: none;
    
            @media(min-width: 1199px){
                display: grid;
            }
    
            @media(min-width: 1199px){
                gap: 30px;
            }
    
            &__item{
                @include flex-center-start;
                flex-direction: column;
                background-color: $Bluish_Purple;
                padding: 20px;
    
                &__text{
                    width: 100%;    
                    h1{
                        text-align: center;
                        color: $white;
                        font-size: 20px;
                        font-family: Poppins-Bold;
                        padding: 15px 0;
                        
                        @media(min-width:768px){
                            font-size: 25px;
                        }
                
                        @media(min-width:1199px){
                            font-size: 30px;
                            padding: 30px 0;
                        }
                        
                        @media(min-width:1700px){
                            font-size: 35px;
                        }
                    }

                    p{
                        color: $white;
                        font-size: 15px;
                        padding: 0;
                        text-align: center;
                
                        @media(min-width: 1199px){
                            font-size: 18px; 
                        }
                    }
                }

                &__imagen{
                    width: 60%;
                    height: 40%;

                    @media(min-width: 1700px){
                        width: 60%;
                        height: 40%;
                    }
                }
            }
        }
    
        &__carrousel{
            width: 80%;
            padding: 30px 0 0 0;
            margin: auto;

            @media(min-width: 1199px){
                display: none;
            }
    
            &__item{
                @include flex-center-between;
                flex-direction: column;
                background-color: $Bluish_Purple;
                padding: 20px;
                margin: 0 10px;
                height: 400px;
    
                &__text{
                    width: 100%;    
                    h1{
                        text-align: center;
                        color: $white;
                        font-size: 20px;
                        font-family: Poppins-Bold;
                        padding: 15px 0;
                        
                        @media(min-width:768px){
                            font-size: 25px;
                        }
                
                        @media(min-width:1199px){
                            font-size: 30px;
                            padding: 30px 0;
                        }
                        
                        @media(min-width:1700px){
                            font-size: 35px;
                        }
                    }

                    p{
                        color: $white;
                        font-size: 15px;
                        padding: 0;
                        text-align: center;
                
                        @media(min-width: 1199px){
                            font-size: 18px; 
                        }
                    }
                }

                &__imagen{
                    width: 50%;

                    @media(min-width: 1700px){
                        width: 60%;
                        height: 40%;
                    }
                }
            }
    
        }


        
    }



}

.swiper{
	width: 100%;
    margin: auto;
    overflow: hidden;

		.swiper-slide{
            width: 50% !important;
            height: 100%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; 
            @include flex-center-center;

            @media(max-width: 568px){
                width: 100% !important;
            }

		}

        

}