.question{
    width: 100%;
	position: relative;
	height: auto;
    padding: 30px 0 30px 0;
    background-image:url('../img/fondo-microinversores.webp');	
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat; 

    @media(min-width:1199px){
        padding: 60px 0 60px 0;
    }

    .container{
        @include flex-center-center;
        flex-direction: column;
    }

    &--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;

		svg{
			width: 30px;
			fill: black;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 30px;
			fill: black;
		}

	}


    &__top{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;

        @media(min-width: 1199px){
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
        }


        &__imagen{
            margin: auto;
            width: 40%;
    
            @media(min-width: 1199px){
                width: 60%;
                height:auto;
            }    

            img{
                width: 100%;
            }
        }

        &__text{
            @include flex-center-center;
            flex-direction: column;
            padding: 0 15px;

            h1.title{
                color: $Bluish_Purple;
                font-size: 20px;
                font-family:  Yantramanav-Bold;
                padding-bottom: 15px;
                text-align: center;
                
                @media(min-width:768px){
                    font-size: 25px;
                }
        
                @media(min-width:1199px){
                    font-size: 30px;
                    padding-bottom: 30px;
                }
                
                @media(min-width:1700px){
                    font-size: 35px;
                }
            }
    
            p{
                color: $black;
                font-size: 15px;
                text-align: center;
        
                @media(min-width: 1199px){
                    text-align: start;
                    font-size: 18px;  
                }
            }

        }
    }

    &__bottom{
        width: 100%;
        padding-top: 30px;

        &__item{
            display: none;
            gap: 30px;
            height: 250px;
            

            @media(min-width: 1199px){
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
            }

            &__question{
                margin: auto 0;
            }

            &__item_small{
                @include flex-center-start;
                flex-direction: column;
            }

            h1{
                color: $Bluish_Purple;
                font-size: 20px;
                font-family:  Yantramanav-Bold;
                padding-bottom: 15px;
                text-align: center;
                
                @media(min-width:768px){
                    font-size: 25px;
                }
        
                @media(min-width:1199px){
                    font-size: 30px;
                    padding-bottom: 30px;
                }
                
                @media(min-width:1700px){
                    font-size: 35px;
                }
            }
    
            p{
                color: $black;
                font-size: 15px;
                text-align: center;
        
                @media(min-width: 1199px){
                    text-align: start;
                    font-size: 18px;  
                }
            }
        }

    }

    &__carrusel{
        width: 80%;
            padding: 30px 0 0 0;
            margin: auto;

            @media(min-width: 1199px){
                display: none;
            }
    
            &__item{
                gap: 30px;
                height: 250px;
                
    
                @media(min-width: 1199px){
                    display: grid;
                    grid-template-columns: repeat(3, 1fr); 
                }
    
                &__question{
                    margin: auto 0;
                }
    
                &__item_small{
                    @include flex-center-start;
                    flex-direction: column;
                }
    
                h1{
                    color: $Bluish_Purple;
                    font-size: 20px;
                    font-family:  Yantramanav-Bold;
                    padding-bottom: 15px;
                    text-align: center;
                    
                    @media(min-width:768px){
                        font-size: 25px;
                    }
            
                    @media(min-width:1199px){
                        font-size: 30px;
                        padding-bottom: 30px;
                    }
                    
                    @media(min-width:1700px){
                        font-size: 35px;
                    }
                }
        
                p{
                    color: $black;
                    font-size: 15px;
                    text-align: center;
            
                    @media(min-width: 1199px){
                        text-align: start;
                        font-size: 18px;  
                    }
                }
            }

    }
}

.swiper_movil{
	width: 100%;
    margin: auto;
    overflow: hidden;

		.swiper-slide{
            width: 50% !important;
            height: 100%;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; 
            @include flex-center-center;

            @media(max-width: 568px){
                width: 100% !important;
            }

		}

        

}